{% extends "account/base.html" %}
{% load custom_tags %}
{% load image_tags %}
{% load action_tags %}
{% load static %}
{% block content %}
    <div class="shadow p-3 mb-2 bg-body-tertiary rounded m-2">
        <div class="container overflow-hidden text-center">
            <h1 class="fs-1 epuls-style-text">Friends</h1>
            {% if self %}
                <p class="fs-4">Here are all your friends. You can check out what's going on on their profiles.</p>
            {% else %}
                <p class="fs-3 my-3">
                    You are in <b class="epuls-style-text">{{ username }}</b>'s friends list. If you're looking for more friends, you'll surely find new ones.
                </p>
                <p class="fs-4 epuls-style-text">So, go ahead!</p>
            {% endif %}
            <!-- TODO wyszukiwarka -->
        </div>
    </div>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded m-2">
        <div class="container overflow-hidden text-center">
            <div class="row mx-3">
                <div class="col-2"></div>
                <div class="col-3 text-start">User</div>
                <div class="col-3 text-start">Action</div>
                <div class="col-2">Puls</div>
                <div class="col-2"></div>
            </div>
            {% for u in object_list %}
                <div class="row text-start mx-3 {% if forloop.counter|divisibleby:'2' %}bg-orange{% endif %}">
                    <div class="col-2 {% if forloop.counter|divisibleby:'2' %}bg-orange{% endif %}">
                        {% if u.profile.profile_picture %}
                            <img src="{{ u.profile.profile_picture.url }}"
                                 class="img-thumbnail"
                                 alt="..."
                                 width="50"
                                 height="100">
                        {% else %}
                            {% get_default_picture_photo u.profile.gender as default_picture %}
                            <img src="{% static default_picture %}"
                                 class="img-thumbnail"
                                 alt="..."
                                 width="50"
                                 height="100">
                        {% endif %}
                    </div>
                    <div class="col-3 {% if forloop.counter|divisibleby:'2' %}bg-orange{% endif %}">
                        <div class="row ">
                            <p class="my-0">{{ u }}</p>
                            <p class="my-0">{{ u.profile.gender }}</p>
                        </div>
                    </div>
                    <div class="col-3">
                        <p>Akcja</p>
                    </div>
                    <div class="col-2">{{ u.profile.puls.puls }}</div>
                    <div class="col-2"></div>
                </div>
            {% empty %}
                <h1 class="fs-1 epuls-style-text">User is Billy no-mates !!</h1>
            {% endfor %}
        </div>
    </div>
{% endblock %}
