<nav class="navbar navbar-expand-lg shadow"
     style="background-color: #fff3d5">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="{{ user.profile.get_absolute_url }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="{% url 'account:invites' user.username %}">Invitations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Clubs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Pulsary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Competition</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Ranking</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="{% url 'account:home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="{% url 'account:signup' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"
                           aria-current="page"
                           href="{% url 'account:login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex"
                  role="search"
                  method="get"
                  action="{% url 'account:user-list' %}">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Search"
                       aria-label="Search"
                       name="q">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
