{% extends "account/base.html" %}
{% block content %}
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded m-2">
        <div class="container overflow-hidden text-center">
            <h1>Guestbook</h1>
        </div>
    </div>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded m-2">
        <div class="container overflow-hidden text-center">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-sm btn-success" type="submit">{{ action }}</button>
            </form>
            {% for entry in object_list %}
                <div class="container">
                    <div class="shadow-sm p-3 mb-2 bg-white rounded">
                        <div class="row justify-content-between">
                            <div class="col text-end">
                                <button class="btn btn-sm" type="button">!</button>
                                <!-- TODO: Report wpis -->
                            </div>
                        </div>
                        {{ entry.entry }}
                        <div class="row justify-content-between">
                            <div class="col text-end">
                                <a class="me-3 link-offset-2 link-underline link-underline-opacity-0 fs-5"
                                   href="{% url 'account:profile' entry.sender.username %}">{{ entry.sender }}</a>
                                <p class="fst-italic">{{ entry.created|date:"jS M Y P" }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
