{% extends "account/base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded m-2">
            <h1 class="fs-2 epuls-style-text">Puls</h1>
            <div class="row">
                <div class="col-10">
                    <p class="fs-6">Hello dear Epuls users,</p>
                    <p>
                        If you're reading this, you should know what those strange numbers below mean. They represent "Puls" points, which every user receives when being active on the website.
                        Here are more details:
                    </p>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <p class="mb-1 epuls-style-text">PULS</p>
                            <p class="mt-1 epuls-style-text">{{ object.puls }}</p>
                        </div>
                        <div class="col">
                            <img class="img-fluid"
                                 src="{% get_media_prefix %}/website/podium.png"
                                 alt="podium">
                        </div>
                    </div>
                </div>
                <hr class="green-line">
            </div>
            <!-- Describe -->
            <div class="row text-start">
                <!-- Constant Value Seection -->
                <div class="col">
                    <h1 class="fs-3 green" style="color: green;">Constant Value</h1>
                    <div class="row">
                        <div class="col text-start">Accepted profile photo</div>
                        <div class="col-1 text-end">
                            {% if pulses.profile_photo %}(+{{ pulses.profile_photo }}){% endif %}
                        </div>
                        <div class="col-1 text-end fw-bold">{{ object.profile_photo }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Personality</div>
                        <div class="col-1 text-end">
                            {% if pulses.about_me %}(+{{ pulses.about_me }}){% endif %}
                        </div>
                        <div class="col-1 text-end fw-bold">{{ object.about_me }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Presentation</div>
                        <div class="col-1 text-end">
                            {% if pulses.presentation %}(+{{ pulses.presentation }}){% endif %}
                        </div>
                        <div class="col-1 text-end fw-bold">{{ object.presentation }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Schools</div>
                        <div class="col-1 text-end">
                            {% if pulses.schools %}(+{{ pulses.schools }}){% endif %}
                        </div>
                        <div class="col-1 text-end fw-bold">{{ object.schools }}</div>
                    </div>
                </div>
                <div class="col">
                    <h1 class="fs-3" style="color: green;">Variable Value</h1>
                    <div class="row">
                        <div class="col text-start">logins</div>
                        <div class="col-1 text-end">
                            {% if pulses.logins %}(+{{ pulses.logins }}){% endif %}
                        </div>
                        <div class="col-1 text-end fw-bold">{{ object.logins }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Guestbooks</div>
                        <div class="col-1 text-end">
                            {% if pulses.guestbooks %}(+{{ pulses.guestbooks }}){% endif %}
                        </div>
                        <div class="col-1 text-end fw-bold">{{ object.guestbooks }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Messages</div>
                        <div class="col text-end fw-bold">{{ object.messages }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Diaries</div>
                        <div class="col text-end fw-bold">{{ object.diaries }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Activity</div>
                        <div class="col text-end fw-bold">{{ object.activity }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Surfing</div>
                        <div class="col text-end fw-bold">{{ object.surfing }}</div>
                    </div>
                    <div class="row">
                        <div class="col text-start">Month with PRO/EXTREME/DIVINE</div>
                        <div class="col text-end fw-bold">{{ object.type }}</div>
                    </div>
                </div>
            </div>
            <!-- summary -->
            <div class="row mt-3 text-start">
                <div class="col">
                    <div class="row">
                        <div class="col text-start">Sum</div>
                        <div class="col text-end fw-bold">{{ object.sum_constant_value }}</div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col text-start">Sum</div>
                        <div class="col text-end fw-bold">{{ object.sum_variable_value }}</div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 mb-3">
                <div class="col text-start">All Sum</div>
                <div class="col text-end fw-bold">{{ object.puls }}</div>
            </div>
            {% if self %}
                <div class="text-end">
                    <a href="{% url 'account:puls-update' object.profile.user.username %}"
                       class="btn btn-sm btn-success text-end">Update my PULS</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
